<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../../mission-03.css">
</head>
<body>
  <div class="background-test">
    <nav class="navigation-container">
      <div class="navigation-bar">
    
        <img src="../../images/netflix-red.png" alt="넷플릭스">
        <div class="button-wrapper">
          <select name="languages" id="languages" class="lang-option">
            <option value="korean">한국어</option>
            <option value="english">English</option>
          </select>
          <a class="login" href="/">로그인</a>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>